<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InColUn</title>
    <meta name="description" content="InColUn">
    <meta charset="utf-8">
    @RenderSection("scripts")
    @RenderSection("styles")
</head>

<body>
    @RenderBody()

    @RenderSection("scripts_after_body", required: false)
</body>
</html>
