<div class="login-box" id="signup_box" >
    <form class="form-signup" method="post"  id="form-signup">
        <h2 class="form-signin-heading"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Join InColUn</h2>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <i class="input-group-addon fa fa-user fa-lg" id="sa-signup-name"></i>
                <input type="username" class="form-control" placeholder="Use Name" aria-describedby="sa-signup-name" id="i-signup-name">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <i class="input-group-addon fa fa-envelope fa-lg" id="sa-signup-email"></i>
                <input type="email" class="form-control" placeholder="Email address" aria-describedby="sa-signup-email" id="i-signup-email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <i class="input-group-addon fa fa-key fa-lg" id="sa-signup-pwd"></i>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="sa-signup-pwd" id="i-signup-pwd">
            </div>
        </div>
        <div class="authError" id="signupError" style="display: none;"><strong id="signupErrorMessage"></strong></div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:cadetblue">Create Account</button>
    </form>
</div>
