@{
    ViewData["Title"] = "InColUn";
}

@section scripts{
    <script src="js/login.js"></script>
}

@section styles{
    <link rel="stylesheet" href="css/login.css">
}

<div class="flex-column" style='min-height:100vh;height:100%;' id='index'>
    <header class="header-row flex-row" id='header' style="align-items:center; padding:10px;">
        <div>InColUn</div>
        <div class="search-box">
            <div class="search-container">
                <input type="search" id="search" placeholder="Search...">
                <button class="icon">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </header>
    <div class="login-block flex-row flex-fill">
        @{Html.RenderPartial("login");}
        @{Html.RenderPartial("signup");}
    </div>
</div>

